<h1> Morning Pages </h1>
<form action='/am_entries/<%=@am_entry.id%>' method="POST">
	<input type="hidden" name="_method" value="PATCH">
	<div class="am_pm_form">
		<h4>
			Three things I would like to accomplish today are: <br><br>
	  		1. <input type="text" name="goals1"<br><br> value="<%=@am_entry.goals1%>"<br><br>
			2. <input type="text" name="goals2" value="<%=@am_entry.goals2%>"<br><br>
			3. <input type="text" name="goals3" value="<%=@am_entry.goals3%>"<br><br>
			I think my day would be awesome if...<br><br>
			<textarea name="awesome" cols="40" rows="5"><br> <%=@am_entry.awesome%></textarea><br><br>
			Affirmation/Thought of the Day/Words of Encouragement:<br><br>
			<input type="text" name="affirmation"<br><br> value="<%=@am_entry.affirmation%>"<br><br>
			Five things I am grateful for right now are:<br><br>
			1. <input type="text" name="gratitude1" value="<%=@am_entry.gratitude1%>" <br><br><br>
			2. <input type="text" name="gratitude2" value="<%=@am_entry.gratitude2%>"<br><br><br>
			3. <input type="text" name="gratitude3" value="<%=@am_entry.gratitude3%>"<br><br><br>
			4. <input type="text" name="gratitude4" value="<%=@am_entry.gratitude4%>"<br><br><br>
			5. <input type="text" name="gratitude5" value="<%=@am_entry.gratitude5%>"<br><br><br>
			Additional thoughts/words:<br><br>
			<textarea name="words" cols="40" rows="5"> <%=@am_entry.words%> </textarea><br>
			<input type="submit" value="Save Changes"><br><br>
		</h4>
	</div>
</form>
<form action="/index">
	<input type="submit"class="button" value="Return to Index">
</form>
<form action="/main_menu">
	<input type="submit"class="button" value="Back to Main Menu">
</form>
<br><br>
