<div class="container" id="heading">
	<h1> Morning Pages </h1>
	<h3><%= @entry_date %></h3>
</div>
<br>
<%if !@am_entry.intention.empty? %>
	<h4>My intention for today is:</h4>
	<h6><%= @am_entry.intention %><br></h6>
	<br><br>
<%end%>
<br>
<%if !@am_entry.goals1.empty? %>
	<h4>Three things I would like to accomplish today are: </h4>
	<h6>
		<%= @am_entry.goals1 %><br>
		<%= @am_entry.goals2 %><br>
		<%= @am_entry.goals3 %><br>
	</h6>
	<br><br>
<%end%>

<%if !@am_entry.awesome.empty? %>
	<h4>I think today would be awesome if...</h4>
	<h6><%= @am_entry.awesome %><br></h6>
	<br><br>
<%end%>

<%if !@am_entry.affirmation.empty? %>
	<h4>Affirmation/Thought of the Day/Words of Encouragement:</h4>
	<h6><%= @am_entry.affirmation %><br></h6>
	<br><br>
<%end%>

<%if !@am_entry.gratitude1.empty? %>
	<h4>Five things I am grateful for right now are:</h4>
	<h6>
		<%= @am_entry.gratitude1 %><br>
		<%= @am_entry.gratitude2 %><br>
		<%= @am_entry.gratitude3 %><br>
		<%= @am_entry.gratitude4 %><br>
		<%= @am_entry.gratitude5 %><br>
	</h6>
	<br>
<%end%>

<%if !@am_entry.words.empty?  %>
	<h4>Additional thoughts/words:</h4>
	<h6><%= @am_entry.words %><br></h6>
<%end%>
<br>
<form action="/am_entries/<%=@am_entry.id%>/edit" method="GET">
	<input id="hidden" type="hidden" name="_method" value="edit">
	<input type="submit" name="edit" class="button" value="Edit Entry">
</form>

<form action="/am_entries/<%=@am_entry.id%>/delete" method="POST">
	<input id="hidden" type="hidden" name="_method" value="DELETE">
	<input type="submit" name="delete" value="Delete Entry">
</form>

<form action="/index">
	<input type="submit"class="button" value="Entry Index">
</form>

<form action="/main_menu">
	<input type="submit"class="button" value="Back to Main Menu">
</form>
<br>
