<h1> Morning Pages </h1>
<!--display current date and time here-->
<!-- format: Month, Day Year 00:00am -->
<h3><%= @time_date %></h3><br>

<%if !@am_entry.goals1.empty? %>
	<h4>Three things I would like to accomplish today are: </h4>
	<%= @am_entry.goals1 %><br>
	<%= @am_entry.goals2 %><br>
	<%= @am_entry.goals3 %><br>
<%end%>

<%if !@am_entry.awesome.empty? %>
	<h4>It would make today awesome if...</h4>
	<%= @am_entry.awesome %><br>
<%end%>

<%if !@am_entry.affirmation.empty? %>
	<h4>Affirmation/Thought of the Day/Words of Encouragement:</h4>
	<%= @am_entry.affirmation %>
<%end%>

<%if !@am_entry.gratitude1.empty? %>
	<h4>Five things I am grateful for right now are:</h4>
	<%= @am_entry.gratitude1 %><br>
	<%= @am_entry.gratitude2 %><br>
	<%= @am_entry.gratitude3 %><br>
	<%= @am_entry.gratitude4 %><br>
	<%= @am_entry.gratitude5 %><br>
<%end%>

<%if !@am_entry.words.empty?  %>
	<h4>Additional thoughts/words:</h4>
	<%= @am_entry.words %>
<%end%><br><br>

<form action="/am_entries/<%=@am_entry.id%>/edit" method="GET">
	<input id="hidden" type="hidden" name="_method" value="edit">
	<input type="submit" name="edit" value="Edit Entry">
</form>

<form action="/am_entries/<%=@am_entry.id%>/delete" method="GET">
	<input id="hidden" type="hidden" name="_method" value="delete">
	<input type="submit" name="delete" value="Delete Entry">
</form>
<form action="/main_menu">
	<input type="submit"class="button" value="Back to Main Menu">
</form>
