<h1> Evening Pages </h1>
<h3><%= @entry_date %></h3>
<br>
<%if !@pm_entry.excellent1.empty? %>
	<h4>Two things today that went really well or exceeded my expectations were: </h4>
	<h6><%= @pm_entry.excellent1 %><br>
		<%= @pm_entry.excellent2 %><br>
	</h6>
<%end%>

<%if !@pm_entry.proud1.empty? %>
	<h4>Two things I like about myself, or that I did today and am proud of: </h4>
	<h6><%= @pm_entry.proud1 %><br>
		<%= @pm_entry.proud2 %><br>
	</h6>
<%end%>

<%if !@pm_entry.lessons1.empty? %>
	<h4>Three lessons learned today, or ways I could have made the day better:</h4>
	<h6><%= @pm_entry.lessons1 %><br>
		<%= @pm_entry.lessons2 %><br>
		<%= @pm_entry.lessons3 %><br>
	</h6>
<%end%>

<%if !@pm_entry.gratitude1.empty? %>
	<h4>Five things I am grateful for right now are:</h4>
	<h6><%= @pm_entry.gratitude1 %><br>
		<%= @pm_entry.gratitude2 %><br>
		<%= @pm_entry.gratitude3 %><br>
		<%= @pm_entry.gratitude4 %><br>
		<%= @pm_entry.gratitude5 %><br>
	</h6>
<%end%>

<%if !@pm_entry.thoughts.empty?  %>
	<h4>Additional thoughts/words:</h4>
	<h6><%= @pm_entry.thoughts %><br></h6>
<%end%>
<br>

<form action="/pm_entries/<%=@pm_entry.id%>/edit" method="GET">
	<input id="hidden" type="hidden" name="_method" value="edit">
	<input type="submit" name="edit" value="Edit Entry">
</form>

<form action="/pm_entries/<%=@pm_entry.id%>/delete" method="POST">
	<input id="hidden" type="hidden" name="_method" value="DELETE">
	<input type="submit" name="delete" value="Delete Entry">
</form>

<form action="/index">
	<input type="submit"class="button" value="Entry Index">
</form>

<form action="/main_menu">
	<input type="submit"class="button" value="Back to Main Menu">
</form>
<br>
