<h1><%=@username%>'s Morning and Evening Pages</h1>
<br>
<%@entries.each do |entry| %>
	<%if entry.is_a?(AMEntry)%>
		<%date = entry.convert_time%>
	<a href='am_entries/show/<%=entry.id%>'><%= date %><a><br>
	<%else%>
		<%date = entry.convert_time%>
		<a href='pm_entries/show/<%=entry.id%>'><%= date %><a><br>
	<%end%>
<%end%>
<br>

<form action="/main_menu">
	<input type="submit"class="button" value="Back to Main Menu">
</form>
<br><br>
